/*=================DEFAULT BUTTON===================================*/

.default {
    background: linear-gradient(to right, gold, darkorange);
    color: white;
    --width: 120px;
    --height: calc(var(--width) / 3);
    width: var(--width);
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    font-size: calc(var(--height) / 2.5);
    font-family: sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: 1px solid darkgoldenrod;
    border-radius: 2em;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.default:hover {
    transform: perspective(500px) rotateY(15deg);
    text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.default::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    left: -100%;
    transition: 0.5s;
}

.default:hover::before {
    left: 100%;
}
.default:disabled{
    opacity: 0.6;
    transform: none;
}

/*=================CUSTOM BUTTON===================================*/
.custom {
    margin: 20px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 160px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
}

.custom span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.custom:hover {
    animation: rotate 0.7s ease-in-out both;
}

.custom:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}
.custom:disabled{
    opacity: 0.5;
    animation: none;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}